{
  "extends": "standard",
  "rules": {
    "space-before-function-paren": "off",
    "no-unused-vars": "warn",
    "keyword-spacing": "off",
    "eol-last": "off",
    "prefer-const": "warn",
    "eqeqeq": "warn",
    "curly": "off",
    "dot-notation": "warn"
  }
}
